<div>
  <div class="mt-4 flex items-center justify-between">
    <div>
      <h2
        class="text-heading-2 text-default-font"
        i18n="@@ox.administration.edit.answers.title"
      >
        Answers
      </h2>
    </div>
    <div>
      <ox-button
        i18n="@@ox.administration.edit.answers.addAnswer"
        (click)="addAnswer()"
        id="add-answer-btn"
        data-testid="add-answer-btn"
      >
        <fa-icon [icon]="faAdd" class="mr-2" />
        Add answer
      </ox-button>
    </div>
  </div>

  <div [formArray]="answerArray">
    @for (
      grp of getAnswerControls();
      track grp.get("internalId")?.value;
      let i = $index
    ) {
      <form
        [formGroup]="grp"
        class="space-y-3 flex items-center justify-between gap-3 p-3 my-3 bg-neutral-100 dark:bg-neutral-900 border border-neutral-border rounded-md"
      >
        <ox-basic-input
          [formControl]="getCtrlInternal(grp, 'answerText')"
          class="w-full"
          id="answerText"
          placeholder="Answer"
          label="Answer Text"
          i18n-label="@@ox.administration.edit.answerText.label"
          i18n-placeholder="@@ox.administration.edit.answer.answerText"
          type="textarea"
        />

        <ox-basic-input
          [formControl]="getCtrlInternal(grp, 'description')"
          class="w-full"
          label="Description"
          i18n-label="@@ox.administration.edit.answer.description.label"
          placeholder="Description or hint for this answer"
          i18n-placeholder="@@ox.administration.edit.answer.description"
        />

        @switch (questionType()) {
          @case ("MULTIPLE_CHOICE") {
            <ox-checkbox
              [formControl]="getCtrlInternal(grp, 'isCorrect')"
              i18n-label="@@ox.administration.edit.answer.label.isCorrect"
              label="Correct"
              id="is-correct-checkbox"
              style="margin-top: 20px"
            />
          }
          @case ("SINGLE_CHOICE") {
            <div class="flex items-center gap-2" style="margin-top: 20px">
              <div class="relative">
                <input
                  type="radio"
                  (click)="handleCorrectAnswerCheckBoxState(i)"
                  [checked]="getCtrlInternal(grp, 'isCorrect').value === true"
                  data-testid="single-choice-is-correct-radio"
                  class="peer sr-only w-5 h-5"
                  name="single-choice-checkbox"
                />
                <label
                  for="single-choice-checkbox"
                  class="flex items-center justify-center w-5 h-5 rounded-full border-2 border-gray-300 bg-white cursor-pointer transition-all peer-checked:border-blue-600 peer-checked:bg-blue-600 peer-focus:ring-2 peer-focus:ring-blue-200 peer-focus:ring-offset-2 hover:border-blue-400"
                  data-testid="single-choice-is-correct-label"
                  (click)="handleCorrectAnswerCheckBoxState(i)"
                >
                  <div
                    class="w-2 h-2 rounded-full bg-white transition-transform"
                    [class.scale-100]="
                      getCtrlInternal(grp, 'isCorrect').value === true
                    "
                    [class.scale-0]="!getCtrlInternal(grp, 'isCorrect').value"
                  ></div>
                </label>
              </div>
              <label
                class="cursor-pointer text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                i18n="@@ox.administration.edit.answer.label.isCorrect"
                (click)="handleCorrectAnswerCheckBoxState(i)"
              >
                Correct
              </label>
            </div>
          }
        }
        <div class="flex m-none">
          <ox-context-menu
                  [id]="`context-menu-${i}`"
                  [dataTestId]="`context-menu-${i}`"
            [items]="contextMenuItems"
            (itemClicked)="
              handleContextMenuAction($event, grp.get('internalId')?.value)
            "
          />
        </div>
      </form>
    }
  </div>

  <ox-dialog
    [isOpen]="actionDialogState.open"
    (closed)="actionDialogState.open = false"
    (submitted)="actionDialogState.onSubmit($event)"
    (cancelled)="actionDialogState.onAbort($event)"
    [title]="actionDialogState.title"
    [submitLabel]="actionDialogState.submitLabel"
    [cancelLabel]="actionDialogState.abortLabel"
  >
    <ox-dialog-header>
      <h5 class="text-heading-3 text-default-font">
        {{ actionDialogState.title }}
      </h5>
    </ox-dialog-header>
    <ox-dialog-content>
      <p class="text-body text-default-font">{{ actionDialogState.message }}</p>
    </ox-dialog-content>
  </ox-dialog>
  <ox-dialog
    [isOpen]="directActionDialogState.open"
    (closed)="directActionDialogState.open = false"
    (submitted)="directActionDialogState.onSubmit($event)"
    (cancelled)="directActionDialogState.onAbort($event)"
    [title]="directActionDialogState.title"
    [submitLabel]="directActionDialogState.submitLabel"
    [cancelLabel]="directActionDialogState.abortLabel"
  >
    <ox-dialog-header>
      <h5 class="text-heading-3 text-default-font">
        {{ directActionDialogState.title }}
      </h5>
    </ox-dialog-header>
    <ox-dialog-content>
      <p class="text-body text-default-font">
        {{ directActionDialogState.message }}
      </p>
      <ox-button (click)="directActionDialogState.onAction($event)"
      dataTestId="direct-delete-answer"
      >
        {{ directActionDialogState.actionBtnLabel }}
      </ox-button>
    </ox-dialog-content>
  </ox-dialog>
</div>
