<div [formGroup]="formGroup()">
    <div class="mt-4 flex items-center justify-between">
        <div>
            <h2 class="text-heading-2 text-default-font" i18n="@@ox.administration.edit.answers.title">Answers</h2>
        </div>
        <div>
            <ox-button i18n="@@ox.administration.edit.answers.addAnswer" (click)="addAnswer()">
                <fa-icon [icon]="faAdd" class="mr-2"/>
                Add answer
            </ox-button>
        </div>
    </div>

    <div [formArrayName]="formArrayName()">
        @for (_ of formArray.controls; track i; let i = $index) {
            <form [formGroupName]="i"
                  class="space-y-3 flex items-center justify-between gap-3 p-3 my-3 bg-neutral-100 dark:bg-neutral-900 border border-neutral-border rounded-md">

                <ox-basic-input [formControl]="getControl('answerText', i)"
                                class="w-full"
                                id="answerText"
                                placeholder="Answer"
                                label="Answer Text"
                                i18n-label="@@ox.administration.edit.answerText.label"
                                i18n-placeholder="@@ox.administration.edit.answer.answerText"
                                type="textarea"/>

                <ox-basic-input [formControl]="getControl('description', i)"
                                class="w-full"
                                label="Description"
                                i18n-label="@@ox.administration.edit.answer.description.label"
                                placeholder="Description or hint for this answer"
                                i18n-placeholder="@@ox.administration.edit.answer.description"/>

                @switch (questionTypeSignal()) {
                    @case ('MULTIPLE_CHOICE') {
                        <ox-checkbox formControlName="isCorrect"
                                     i18n-label="@@ox.administration.edit.answer.label.isCorrect"
                                     label="Correct"
                                     style="margin-top: 20px;"
                        />
                    }
                    @case ('SINGLE_CHOICE') {
                        <div class="flex items-center gap-2" style="margin-top: 20px;">
                            <div class="relative">
                                <input type="radio" (click)="handleCorrectAnswerCheckBoxState(i)"
                                       [checked]="getControl('isCorrect', i).value === true"
                                       class="peer sr-only"
                                />
                                <label class="flex items-center justify-center w-5 h-5 rounded-full border-2 border-gray-300 bg-white cursor-pointer transition-all
                     peer-checked:border-blue-600 peer-checked:bg-blue-600
                     peer-focus:ring-2 peer-focus:ring-blue-200 peer-focus:ring-offset-2
                     hover:border-blue-400"
                                       (click)="handleCorrectAnswerCheckBoxState(i)"
                                >
                                    <div class="w-2 h-2 rounded-full bg-white transition-transform"
                                         [class.scale-100]="getControl('isCorrect', i).value === true"
                                         [class.scale-0]="!getControl('isCorrect', i).value"
                                    ></div>
                                </label>
                            </div>
                            <label class="cursor-pointer text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                   i18n="@@ox.administration.edit.answer.label.isCorrect"
                                   (click)="handleCorrectAnswerCheckBoxState(i)">
                                Correct
                            </label>
                        </div>
                    }
                }
                <div class="flex m-none">
                    <ox-context-menu [items]="contextMenuItems" (itemClicked)="handleContextMenuAction($event, i)"/>
                </div>
            </form>
        }
    </div>

    <ox-dialog [isOpen]="actionDialogState.open" (closed)="actionDialogState.open = false"
               (submitted)="actionDialogState.onSubmit($event)" (cancelled)="actionDialogState.onAbort($event)"
               [title]="actionDialogState.title" [submitLabel]="actionDialogState.submitLabel"
               [cancelLabel]="actionDialogState.abortLabel">
        <ox-dialog-header>
            <h5 class="text-heading-3 text-default-font">{{ actionDialogState.title }}</h5>
        </ox-dialog-header>
        <ox-dialog-content>
            <p class="text-body text-default-font">{{ actionDialogState.message }}</p>
        </ox-dialog-content>
    </ox-dialog>
    <ox-dialog [isOpen]="directActionDialogState.open" (closed)="directActionDialogState.open = false"
               (submitted)="directActionDialogState.onSubmit($event)"
               (cancelled)="directActionDialogState.onAbort($event)"
               [title]="directActionDialogState.title" [submitLabel]="directActionDialogState.submitLabel"
               [cancelLabel]="directActionDialogState.abortLabel">
        <ox-dialog-header>
            <h5 class="text-heading-3 text-default-font">{{ directActionDialogState.title }}</h5>
        </ox-dialog-header>
        <ox-dialog-content>
            <p class="text-body text-default-font">{{ directActionDialogState.message }}</p>
            <ox-button (click)="directActionDialogState.onAction($event)">
                {{ directActionDialogState.actionBtnLabel }}
            </ox-button>
        </ox-dialog-content>
    </ox-dialog>
</div>