@import "tailwindcss";
@config "../tailwind.config.js";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@layer base {
  :root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(10, 10, 10);
    --border-color: rgb(212, 212, 212);
  }

  .dark {
    --bg-color: rgb(10, 10, 10);
    --text-color: rgb(250, 250, 250);
    --border-color: rgb(64, 64, 64);
  }

  body {
    @apply bg-[var(--bg-color)] text-[var(--text-color)];
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.theme-transition {
  @apply transition-all duration-300;
}

/* Container */
@utility container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= theme(--breakpoint-sm)) {
    padding-left: calc((100vw + 16px - 640px) / 2);
    padding-right: calc((100vw + 16px - 640px) / 2);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding-left: calc((100vw + 16px - 768px) / 2);
    padding-right: calc((100vw + 16px - 768px) / 2);
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: calc((100vw + 16px - 1024px) / 2);
    padding-right: calc((100vw + 16px - 1024px) / 2);
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-left: calc((100vw + 16px - 1280px) / 2);
    padding-right: calc((100vw + 16px - 1280px) / 2);
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-left: calc((100vw + 16px - 1536px) / 2);
    padding-right: calc((100vw + 16px - 1536px) / 2);
  }
}

@custom-variant mobile (@media (max-width: 767px));